body {
     font-family: 'Avenir LT Std 55 Roman', sans-serif;
}

#manContainer{
  float: left;
}

.manBody{
    fill:#80CDC4;
   }
   #manBody{
     stroke:#5e9790;
     stroke-width:2;
     stroke-miterlimit:10;
   }
#manBody:hover{
    fill:#F1F1F2;
   }

.body-part-selected{
  fill:#FFF;
  stroke:#5e9790;
  stroke-width:2;
}

.manRLeg{
  fill:#80CDC4;
  stroke:#5e9790;
  stroke-width:2;
}
#manRLeg:hover{
  fill:#F1F1F2;
}

.manLLeg{
  fill:#80CDC4;
  stroke:#5e9790;
  stroke-width:2;
}
#manLLeg:hover{
  fill:#F1F1F2;
}

.manRArm{
  fill:#80CDC4;
  stroke:#5e9790;
  stroke-width:2;
}
#manRArm:hover{
  fill:#F1F1F2;
}

.manLArm{
  fill:#80CDC4;
  stroke:#5e9790;
  stroke-width:2;
}
#manLArm:hover{
  fill:#F1F1F2;
}


.manHead{
  fill:#80CDC4;
  stroke:#5e9790;
  stroke-width:2;
}
#manHead:hover{
  fill:#F1F1F2;
}
